@{
    Layout = "_AdminLayout";
}

@model List<Blog>

@if (TempData["Ekleme"] != null)
{

<div class="alert success" id=mainAlertMessage>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    @TempData["Ekleme"]
</div>
}

@if (TempData["Guncellendi"] != null)
{

<div class="alert info" id=mainAlertMessage>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    @TempData["Guncellendi"]
</div>
}

@if (TempData["Silindi"] != null)
{

<div class="alert warning" id=mainAlertMessage>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    @TempData["Silindi"]
</div>
}
<div style="width:100%">
    <a asp-action="BlogEkle" asp-controller="AdminBlog" class="btn btn-primary">Blog Ekle</a>
    <a asp-action="BlogCategoryListele" asp-controller="AdminBlogCategory" class="btn btn-secondary">Blog kategoriler</a>
</div>
<br />

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>

                                <th>ImageUrlOne</th>
                                <th>BlogCategory</th>
                                <th>CreateDate</th>
                                <th>AuthorName</th>
                                <th>Header</th>
                                <th>SubTitle</th>



                                <th>İŞLEMLER</th>


                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                        <tbody>
                            <tr>
                                <td width="100" height="100" align="center"><img src="/images/imgs/@item.ImageUrlOne" height="100" width="100"></td>
                                <td>@item.BlogCategory.BlogCategoryName</td>
                                <td>@item.CreateDate</td>
                                <td>@item.AuthorName</td>
                                <td>@item.Header</td>
                                <td>@item.SubTitle</td>



                                <td>
                                    <a asp-action="BlogSil" asp-controller="AdminBlog" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istediginize emin misiniz');">Blog Sil</a>
                                    <a asp-action="BlogGuncelle" asp-controller="AdminBlog" asp-route-id="@item.Id" class="btn btn-info">Blog Guncelle</a>
                                </td>

                            </tr>
                        </tbody>
                        }



                        <tfoot>
                            <tr>
                                <th>ImageUrlOne</th>
                                <th>BlogCategory</th>
                                <th>CreateDate</th>
                                <th>AuthorName</th>
                                <th>Header</th>
                                <th>SubTitle</th>



                                <th>İŞLEMLER</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
    </div>
</section>