@{
    Layout = "_AdminLayout";
}

@model List<Contact>

@if (TempData["Ekleme"] != null)
{

<div class="alert success" id=mainAlertMessage>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    @TempData["Ekleme"]
</div>
}

@if (TempData["Guncellendi"] != null)
{

<div class="alert info" id=mainAlertMessage>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    @TempData["Guncellendi"]
</div>
}

@if (TempData["Silindi"] != null)
{

<div class="alert warning" id=mainAlertMessage>
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    @TempData["Silindi"]
</div>
}
<div style="width:100%"><a asp-action="ContactEkle" asp-controller="AdminContact" class="btn btn-primary">İletişim Ekle</a></div>
<br />

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Address</th>


                                <th>İŞLEMLER</th>

                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                        <tbody>
                            <tr>

                                <td>@item.Address</td>

                                <td>
                                    <a asp-action="ContactSil" asp-controller="AdminContact" asp-route-id="@item.Id" class="btn btn-danger" onclick="return confirm('Silmek istediginize emin misiniz');">İletişim Sil</a>
                                    <a asp-action="ContactGuncelle" asp-controller="AdminContact" asp-route-id="@item.Id" class="btn btn-info">İletişim Guncelle</a>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                        }

                        <tfoot>
                            <tr>
                                <th>Address</th>

                                <th>İŞLEMLER</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- Control Sidebar -->
            <aside class="control-sidebar control-sidebar-dark">
                <!-- Control sidebar content goes here -->
            </aside>
            <!-- /.control-sidebar -->
        </div>
    </div>
</section>