
@{
    Layout = "_Layout";
}

@model About


<body>

    <div class="d-flex flex-column w-100">
        <div class="page-title d-flex align-items-center bg-image py-5" data-img-src="/images/upload/page-title-bg-01.jpg" style="background-image: url(&quot;/images/upload/page-title-bg-01.jpg&quot;);">
            <div class="container page-title-container">
                <div class="row py-5">
                    <div class="col text-center">

                        <h1 class="display-3 font-weight-800 text-white mb-0">
                            HAKKIMIZDA
                        </h1>

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-light-2 justify-content-center mb-0">
                                <li class="breadcrumb-item text-uppercase"><a href="#">Homepage</a></li>
                                <li class="breadcrumb-item text-uppercase text-nowrap active" aria-current="page">Hakkımzıda</li>
                            </ol>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container-fluid p-0">
            <div class="row no-gutters">

                <div class="col-lg-4 bg-image p-5 animated fadeInLeft" data-animated="fadeInLeft" data-img-src="/images/upload/about-us-vision-bg-01.jpg" style="background-image: url(&quot;/images/upload/about-us-vision-bg-01.jpg&quot;);">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="text-white-75 my-2">
                                <h3 class="h1 text-white font-weight-800">01</h3>
                                <h4 class="text-white font-weight-800 text-uppercase mb-3">Hakkımızda</h4>
                                <p>@Model.VisionContent</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 bg-image p-5 animated fadeInUp" data-animated="fadeInUp" data-img-src="/images/upload/about-us-vision-bg-02.jpg" style="background-image: url(&quot;/images/upload/about-us-vision-bg-02.jpg&quot;);">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="text-white-75 my-2">
                                <h3 class="h1 text-white font-weight-800">02</h3>
                                <h4 class="text-white font-weight-800 text-uppercase mb-3">Kalite Politikamız</h4>
                                <p>@Model.MissionContent</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 bg-image p-5 animated fadeInRight" data-animated="fadeInRight" data-img-src="/images/upload/about-us-vision-bg-03.jpg" style="background-image: url(&quot;/images/upload/about-us-vision-bg-03.jpg&quot;);">
                    <div class="row">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="my-2">
                                <h3 class="h1 text-indigo font-weight-800">03</h3>
                                <h4 class="font-weight-800 text-uppercase mb-3">Zamanında Teslimat</h4>
                                <p>@Model.OurGoalContent</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="section py-5">
        <div class="container">

            <div class="row align-items-center py-4 my-5">

                <div class="col-lg-6">
                    <div class="pt-lg-3 pr-lg-5 mb-5 mb-lg-0">

                        <h2 class="h1 section-title-3 text-left font-weight-800 mb-5">Neden Biz</h2>

                        <div data-height="10px" style="height: 10px;"></div>

                        <div class="icon-info-1 mb-5">
                            <div class="icon-element text-primary">
                                <img src="/images/upload/benefit-icon-10.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="60px" data-height="60px" style="width: 60px; height: 60px;">
                            </div>
                            <div class="icon-info-text pl-4">
                                <h5 class="font-weight-700">Profesyoneliz</h5>
                                <p>10 yıldır işimiz en iyi kalite ve uygun fiyat ile yapıyoruz bu zaman içerisinde kariyerimize bir çok profesyonnelik ekleyerek devam ettik edecegiz.</p>
                            </div>
                        </div>

                        <div class="icon-info-1 mb-5">
                            <div class="icon-element text-primary">
                                <img src="/images/upload/benefit-icon-11.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="60px" data-height="60px" style="width: 60px; height: 60px;">
                            </div>
                            <div class="icon-info-text pl-4">
                                <h5 class="font-weight-700">Tecrübeliyiz</h5>
                                <p>10 yıldır işimizi severek yapıyoruz. Buda bizi sektörde ön sıralara taşıyor.</p>
                            </div>
                        </div>

                        <div class="icon-info-1">
                            <div class="icon-element text-primary">
                                <img src="/images/upload/benefit-icon-12.svg" alt="icon" class="faster animated zoomIn" data-animated="zoomIn" data-width="60px" data-height="60px" style="width: 60px; height: 60px;">
                            </div>
                            <div class="icon-info-text pl-4">
                                <h5 class="font-weight-700">İş Odaklıyız</h5>
                                <p>İşinizi işimiz kadar önemseriz. Biliriz ki her mutlu müşteri bir başka bir müşteriyi getiririr.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="animated fadeInUp" data-animated="fadeInUp">

                                <div class="d-none d-md-block" data-height="95px" style="height: 95px;"></div>

                                <img src="/images/upload/about-why-us-01.jpg" alt="image" class="img-fluid rounded-lg shadow-lg">

                                <div data-height="30px" style="height: 30px;"></div>

                                <img src="/images/upload/about-why-us-02.jpg" alt="image" class="img-fluid rounded-lg shadow-lg">

                                <div class="d-md-none" data-height="30px" style="height: 30px;"></div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="animated fadeInUp" data-animated="fadeInUp">

                                <img src="/images/upload/about-why-us-03.jpg" alt="image" class="img-fluid rounded-lg shadow-lg">

                                <div data-height="30px" style="height: 30px;"></div>

                                <img src="/images/upload/about-why-us-04.jpg" alt="image" class="img-fluid rounded-lg shadow-lg">

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div data-height="20px" style="height: 20px;"></div>

        </div>
    </div>

    <div class="main-content py-0">

        <!-- Vision Mission and Goal section -->
        <!-- Why Us section -->
        <!-- Call to action section -->
        <div class="section bg-image" data-img-src="/images/upload/about-us-cta-bg-01.jpg" style="background-image: url(&quot;/images/upload/about-us-cta-bg-01.jpg&quot;);">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 align-self-end order-2 order-lg-1">
                        <div class="mt-lg-up75 px-3 px-lg-0 text-center">
                            <img src="/images/upload/startup-woman-02.png" alt="image" class="img-fluid animated fadeInLeft" data-animated="fadeInLeft">
                        </div>
                    </div>

                    <div class="col-lg-6 align-self-center order-1 order-lg-2">
                        <div class="py-5 my-5 animated fadeInRight" data-animated="fadeInRight">

                           

                            <div class="d-none d-lg-block" data-height="52px" style="height: 52px;"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="bg-light">

            <!-- Subscribe section -->
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="bg-indigo rounded-ultra shadow-lg px-4 py-5 p-md-5 mt-up100">
                                <div class="row my-4">
                                    <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                                        <div class="text-center">

                                            <h2 class="h1 text-white font-weight-800">Kampanyalardan Haberdar olun</h2>

                                           

                                            <div class="row">
                                                <div class="col-lg-10 offset-lg-1">
                                                    <form class="form-light-2 px-md-4 mb-1" asp-action="Info" asp-controller="Home">
                                                        <div class="input-group input-group-lg input-group-round">
                                                            <div class="input-group-inner">
                                                                <input type="email" class="form-control form-control-lg" placeholder="Your email address" required name="Email">
                                                                <div class="input-group-append">
                                                                    <button class="btn btn-lg btn-round btn-light shadow-none text-indigo mb-0" type="submit">Kayıt ol</button>
                                                                </div>
                                                                <div class="input-focus-bg"></div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Team section -->
            <div class="section py-5">
                <div class="container">

                    <div class="row my-5">
                        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                            <div class="text-center mt-2 mb-4">
                                <h2 class="h1 section-title-3 font-weight-800">Ekibimiz</h2>
                                
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 mb-lg-5">

                        @foreach (var item in ViewBag.Personeller)
                        {
                            <div class="col-md-6 col-lg-4 mb-2">
                                <div class="mb-5 add-animate" data-animated="fadeInLeft">
                                    <img class="img-fluid rounded-ultra shadow-md mb-4" src="/images/imgs/@item.ImageUrlOne" alt="image">
                                    <h4 class="font-weight-700 pt-3 mb-2">@item.PersonelNameSurname</h4>
                                    <div class="font-italic mb-4"><small>@item.Department.DepartmanName</small></div>
                                    <p>@item.Content</p>
                                   
                                </div>
                            </div>
                        }





                    </div>

                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
        </div>


        <!-- Call to action section -->
        <!-- Brands section -->
        <div class="section bg-indigo py-4 mt-up150">
            <div class="container">

                <div data-height="50px" style="height:40px;"></div>

                <div class="row align-items-center py-4">

                    @foreach (var item in ViewBag.Referance)
                    {
                        <div class="col-6 col-md-4 col-lg-2">
                            <div class="text-center px-2">
                                <img class="img-fluid" src="/images/imgs/@item.IconUrl" alt="brand">
                            </div>
                        </div>
                    }



                </div>

            </div>
        </div>

        <!-- Modal login -->


    </div>

</body>



