@{
    Layout = "_AdminLayout";
}

@model Service

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">HİZMET EKLEME SAYFASI</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @if (ViewBag.state == "update") { 
<form asp-controller="AdminService" asp-action="ServiceGuncelle" enctype="multipart/form-data">
    <div class="card-body">
        <div class="card-body">
            <div class="form-group">
                <label>DEPARTMENT SEÇİNİZ</label>

                @Html.DropDownListFor(x => x.ServiceCategoryID, (List<SelectListItem>)ViewBag.ServiceCategory, new { @class = "form-control" })


                <span asp-validation-for="ServiceCategoryID" style="color:crimson"></span>
            </div>


            <div class="form-group">
                <label for="exampleInputEmail1">BAŞLIK-1 GİRİNİZ</label>
                <input type="text" class="form-control" asp-for="HeaderOne" placeholder="başlik-1 giriniz">
                <span asp-validation-for="HeaderOne" style="color:crimson"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">ALT BAŞLIK-1 GİRİNİZ</label>
                <input type="text" class="form-control" asp-for="SubtitleOne" placeholder="alt başlik-1 giriniz">
                <span asp-validation-for="SubtitleOne" style="color:crimson"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" onchange="PreviewImage();">RESİM SEÇİNİZ</label>
                <input type="text" asp-for="ImageUrlOne" value="@Model.ImageUrlOne" name="ImageUrlOne" hidden>
                <input type="file" class="form-control uploadImage" asp-for="ImageUrlOne" id="ImageUrlOne" placeholder="resim seçiniz" onchange='openFile(event)'>
                <div>
                    <img id='output' style="width : 100px;height:100px" src="/images/imgs/@Model.ImageUrlOne"/>
                </div>
                <span id="error-message" class="validation-error-label"></span>
                <span asp-validation-for="ImageUrlOne" style="color:crimson"></span>
            </div>



            <div class="form-group">
                <label for="exampleInputEmail1">BAŞLIK-2 GİRİNİZ</label>
                <input type="text" class="form-control" asp-for="HeaderTwo" placeholder="başlik giriniz">
                <span asp-validation-for="HeaderTwo" style="color:crimson"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">ALT BAŞLIK-2 GİRİNİZ</label>
                <input type="text" class="form-control" asp-for="SubtitleTwo" placeholder="alt başlik giriniz">
                <span asp-validation-for="SubtitleTwo" style="color:crimson"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" onchange="PreviewImagetwo();">RESİM SEÇİNİZ</label>
                <input type="text" asp-for="ImageUrlTwo" value="@Model.ImageUrlTwo" name="ImageUrlTwo" hidden>
                <input type="file" class="form-control uploadImagetwo" asp-for="ImageUrlTwo" id="ImageUrlTwo" placeholder="resim seçiniz" onchange='twoopenFile(event)'>
                <div>
                    <img id='outputtwo' style="width : 100px;height:100px" src="/images/imgs/@Model.ImageUrlTwo" />
                </div>
                <span id="error-messagetwo" class="validation-error-label"></span>
                <span asp-validation-for="ImageUrlTwo" style="color:crimson"></span>
            </div>

            <div class="form-group">
                <label>İÇERİK GİRİNİZ</label>
                <input type="text" class="form-control" asp-for="Content" placeholder="içerik giriniz">
                <span asp-validation-for="Content" style="color:crimson"></span>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">VİDEO LİNK GİRİNİZ</label>
                <input type="text" class="form-control" asp-for="VideoLink" placeholder="video link giriniz">
                <span asp-validation-for="VideoLink" style="color:crimson"></span>
            </div>

            <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">HİZMET GUNCELLE</button>
            </div>
        </div>
        </div>
</form>}
    else
    {
        <form asp-controller="AdminService" asp-action="ServiceEkle" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label>DEPARTMENT SEÇİNİZ</label>

                    <select class="form-control" asp-items="@ViewBag.ServiceCategory" name="@(nameof(ViewBag.ServiceCategoryID))">
                        <option value="0">Bir departman seçiniz</option>
                    </select>


                    <span asp-validation-for="ServiceCategoryID" style="color:crimson"></span>
                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">BAŞLIK-1 GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="HeaderOne" placeholder="başlik-1 giriniz">
                    <span asp-validation-for="HeaderOne" style="color:crimson"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">ALT BAŞLIK-1 GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="SubtitleOne" placeholder="alt başlik-1 giriniz">
                    <span asp-validation-for="SubtitleOne" style="color:crimson"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" onchange="PreviewImage();">RESİM SEÇİNİZ</label>
                    <input type="file" class="form-control uploadImage" asp-for="ImageUrlOne" id="ImageUrl" placeholder="resim seçiniz" onchange='openFile(event)'>
                    <div>
                        <img id='output' style="width : 100px;height:100px" />
                    </div>
                    <span id="error-message" class="validation-error-label"></span>
                    <span asp-validation-for="ImageUrlOne" style="color:crimson"></span>
                </div>



                <div class="form-group">
                    <label for="exampleInputEmail1">BAŞLIK-2 GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="HeaderTwo" placeholder="başlik giriniz">
                    <span asp-validation-for="HeaderTwo" style="color:crimson"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">ALT BAŞLIK-2 GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="SubtitleTwo" placeholder="alt başlik giriniz">
                    <span asp-validation-for="SubtitleTwo" style="color:crimson"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" onchange="PreviewImagetwo();">RESİM SEÇİNİZ</label>
                    <input type="text" asp-for="ImageUrlTwo" value="@Model.ImageUrlTwo" name="ImageUrlTwo" hidden>
                    <input type="file" class="form-control uploadImagetwo" asp-for="ImageUrlTwo" id="ImageUrlTwo" placeholder="resim seçiniz" onchange='twoopenFile(event)'>
                    <div>
                        <img id='outputtwo' style="width : 100px;height:100px" src="/images/imgs/@Model.ImageUrlTwo" />
                    </div>
                    <span id="error-messagetwo" class="validation-error-label"></span>
                    <span asp-validation-for="ImageUrlTwo" style="color:crimson"></span>
                </div>

                <div class="form-group">
                    <label>İÇERİK GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="Content" placeholder="içerik giriniz">
                    <span asp-validation-for="Content" style="color:crimson"></span>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">VİDEO LİNK GİRİNİZ</label>
                    <input type="text" class="form-control" asp-for="VideoLink" placeholder="video link giriniz">
                    <span asp-validation-for="VideoLink" style="color:crimson"></span>
                </div>

                <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">HİZMET EKLE</button>
                </div>
            </div>
        </form>
    }

</div>
